[Desktop Entry]
Type=Application
Categories=AudioVideo;Audio
Name=Rubber Player
Comment=Time-stretching audio Player for music rehearsal
Exec=rubber-player %f
Icon=rubber-player
MimeType=audio/x-wav;audio/x-aiff;audio/basic;audio/voc;audio/x-voc;audio/ogg;audio/mp3;audio/aac;audio/8svx;audio/x-8svx;audio/16sv;audio/x-16sv;audio/mpeg
Terminal=false
